/* 
Filename: home.css
Website Author: Shalil Dsilva
Student id: 0810045 
Copyright: 2023 - All rights reserved

Color Guide:
LightGreen
Coral
LightPink


*********************************
=================
Table of Contents
=================
1. Body Styles
2. Responsive Styles
*********************************
*/

/*******************
1. Body Styles 
********************/
/* Large */
body {
    background-color: coral!important;
}


/*******************
1. Responsive Styles 
********************/
/* Medium */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        background-color: lightpink!important;
    }
}

/* Small */
@media (max-width: 600px) {
    body {
        background-color: lightgreen!important;
    }
}